.site-footer {
  display: flex;
  justify-content: space-between;
  height: 90px;
  align-items: center;
  background-color: black;
  color: #fff;
  padding: 0px 20px;
  margin-top: 150px;
  &__title {
    font-size: 18px;
    font-weight: bold;
  }
}

@media (max-width: 768px) {
  .site-footer {
    margin-top: 60px;
  }
}

@media (max-width: 420px) {
  .site-footer__title {
    font-size: 17px;
  }
  .site-footer__privacy {
    font-size: 14px;
  }
}
