$btn-color: #ff699f;

.site-header {
  min-height: 72px;
  display: flex;
  justify-content: space-between;
  position: relative;

  &__logo {
    display: flex;
    align-items: center;
    z-index: 100;
  }

  &__logo-title {
    font-family: "Montserrat", sans-serif;
    font-size: 18px;
    font-weight: 800;
  }

  &__content {
    display: flex;
    position: relative;
    align-items: center;
  }

  &__big-menu {
    display: none;
    position: absolute;
  }

  &__navigation {
    display: flex;
    align-items: center;
  }

  &__nav-link {
    font-family: Roboto, sans-serif;
    margin-right: 24px;
    font-size: 14px;
    color: black;
    text-decoration: none;
    display: block;
    line-height: 1;
    position: relative;
  }

  &__nav-link:first-child {
    display: none;
  }

  &__nav-link:after {
    content: "";
    display: block;
    position: absolute;
    left: 0;
    width: 0;
    height: 2px;
    background-color: black;
    transition: width 0.3s ease-out;
  }

  &__nav-link:hover:after {
    width: 100%;
  }

  &__nav-link:last-child {
    margin-right: 35px;
  }

  &__button:hover {
    border-color: $btn-color;
    color: $btn-color;
  }

  &__burger {
    display: flex;
    flex-direction: column;
    justify-content: center;
    cursor: pointer;
    position: absolute;
    right: 0px;
    top: 29px;
    width: 32px;
    height: 20px;
    z-index: 100;
  }

  &__burger:hover &__burger-item:nth-child(1) {
    transform: translateY(12px);
  }

  &__burger:hover &__burger-item:nth-child(2) {
    transform: translateY(6px);
  }

  &__burger:hover &__burger-item:nth-child(3) {
    transform: translateY(-12px);
  }

  &__burger-item {
    display: block;
    width: 32px;
    height: 2px;
    border-radius: 4px;
    background-color: black;
    margin-bottom: 4px;
    transition: all 0.5s;
  }

  &__burger-item:nth-child(2) {
    opacity: 1;
    transition: all 0.3s;
  }
}

@media screen and (min-width: 1025px) {
  .site-header__burger {
    display: none;
  }
}

@media screen and (max-width: 1025px) {
  .site-header {
    &__content {
      display: none;
    }

    //Opened menu
    &--opened {
      flex-direction: column;
      .site-header__logo-title {
        display: none;
      }
      .site-header__nav-link:first-child {
        display: block;
        transform: translateY(-20px);
        font-size: 36px;
        font-weight: bold;
      }

      .site-header__content {
        display: block;
        position: absolute;
        top: 0px;
        left: -25px;
        width: calc(100vw - 15px);
        height: 100vh;
        background-color: #fff;
        z-index: 10;
        animation: appear 0.55s ease-in-out;
        border-bottom: 4px solid $btn-color;
        padding-left: 25px;
        min-height: 660px;
        background-image: url(../img/Menu.jpg);
        background-position: right top;
        background-size: contain;
        background-repeat: no-repeat;
      }

      @keyframes appear {
        0% {
          opacity: 0;
        }
        100% {
          opacity: 1;
        }
      }

      .site-header__navigation {
        flex-direction: column;
        align-items: flex-start;
        text-align: left;
        margin: 98px 0px 56px 0px;
      }

      .site-header__nav-link {
        font-size: 24px;
        font-weight: bold;
      }

      .site-header__nav-link + .site-header__nav-link {
        margin-top: 40px;
      }

      .site-header__button {
        padding: 11px 40px;
        min-height: 46px;
      }

      .site-header__burger:hover .site-header__burger-item:first-child {
        transform: rotate(45deg);
      }

      .site-header__burger:hover .site-header__burger-item:last-child {
        transform: rotate(-45deg);
      }
    }

    &__burger {
      display: block;
    }

    //burger opened

    &__burger--opened {
      .site-header__burger-item:first-child {
        position: absolute;
        top: 7px;
        right: 0px;
        transform: rotate(45deg);
      }

      .site-header__burger-item:nth-child(2) {
        opacity: 0;
      }

      .site-header__burger-item:last-child {
        position: absolute;
        top: 7px;
        right: 0px;
        transform: rotate(-45deg);
      }
    }
  }
}
