$btn-color: #ff699f;

.info,
.services {
  margin-bottom: 100px;
}

.info {
  display: flex;
  height: 653px;

  &__text-wrap {
    max-width: 35%;
  }

  &__text {
    margin-bottom: 40px;
    width: 90%;
  }

  &__img-wrap {
    width: 100%;
    height: 653px;
    background-image: url(../img/first-dance-i.jpg);
    background-repeat: no-repeat;
    background-position: top right;
  }

  &__title {
    font-size: 72px;
    line-height: 72px;
    margin-bottom: 15px;
    font-weight: bold;
    margin-top: 73px;
  }

  &__subtitle {
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
    margin-bottom: 40px;
  }

  &__button {
    color: $btn-color;
    border-color: $btn-color;
  }

  &__button:hover {
    border-color: black;
    color: black;
  }
}

.cards-list {
  display: flex;
  justify-content: space-between;

  .slider__item + .slider__item {
    margin-left: 20px;
  }

  &__item {
    transition: all 1s;
    cursor: pointer;
    border: 1px solid rgba(0, 0, 0, 0.04);
    border-radius: 2px;
    height: 100%;
    box-shadow: 0px 4px 30px rgba(207, 207, 207, 0.25);
  }

  &__item:hover {
    transform: scale(1.05);
  }

  &__item:not(:first-child) {
    margin-left: 20px;
  }

  &__info-wrap {
    padding: 40px;
  }

  &__item-img {
    border-radius: 2px;
    width: 100%;
    height: auto;
  }

  &__item-title {
    font-weight: bold;
    font-size: 24px;
    margin-bottom: 24px;
  }

  &__item-text {
    margin-bottom: 8px;
    line-height: 24px;
  }
}

.offer-list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  &__item {
    width: calc(25% - 16px);
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0px 8px 65px 8px;
    cursor: pointer;
    transition: 0.7s ease-out;
    text-align: center;
  }
  &__item:hover {
    transform: scale(1.15);
  }
}

.offer-ico {
  font-size: 64px;
  line-height: 72px;
  color: $btn-color;
}

.coaches {
  position: relative;
  &__counter {
    position: absolute;
    bottom: -50px;
    left: 48%;
  }
}

//Coaches slick-slider
.coaches-list {
  .slick-slide {
    display: flex;
  }

  .slick-btn {
    position: absolute;
    width: 40px;
    height: 28px;
    z-index: 100;
    top: auto;
    bottom: -65px;
  }

  .slick-btn.slick-disabled {
    cursor: default;
    opacity: 0.25;
  }

  .slick-prev {
    bottom: -52px;
    left: calc(50% - 90px);
    transform: rotate(180deg);
  }

  .slick-next {
    left: calc(50% + 50px);
  }

  .slick-list {
    margin-right: -23px;
  }
}
//

.coaches-list {
  display: flex;
  justify-content: space-between;
  width: 100%;
  max-height: 640px;
  height: 100%;
  margin: 0px -8px;

  &__item {
    display: flex;
    max-width: 675px;
    width: 100%;
    margin: 0px 8px;
    border: 1px solid rgba(0, 0, 0, 0.04);
    box-shadow: 0px 4px 30px rgba(207, 207, 207, 0.25);
    border-radius: 2px;
    cursor: pointer;
    transition: 1s ease-out;
    position: relative;
  }

  &__info-wrap {
    padding: 43px 0px 43px 33px;
  }

  &__btn--hidden {
    border-radius: 50%;
    color: $btn-color;
    border: 2px solid $btn-color;
    font-size: 24px;
    background-color: transparent;
    outline: none;
    width: 33px;
    height: 33px;
    display: none;
    transition: 0.7s all;
    position: absolute;
    right: 16px;
    bottom: 16px;
  }

  &__btn--hidden:hover {
    background-color: black;
  }

  &__btn--hidden:before {
    content: "\E009";
    font-family: "icons";
    font-size: 23px;
    font-weight: bold;
    position: absolute;
    left: 40%;
    top: 10%;
    color: $btn-color;
  }

  &__number {
    font-weight: bold;
  }

  &__title {
    font-size: 24px;
    font-weight: bold;
    margin: 8px 0px;
  }

  &__profile {
    display: inline-block;
    margin-bottom: 25px;
  }

  &__text-line {
    margin-bottom: 16px;
  }

  &__text + &__text {
    margin-left: 8px;
  }

  &__text--light {
    opacity: 0.5;
  }

  &__btn {
    color: $btn-color;
    border-color: $btn-color;
    margin-top: 90px;
  }

  &__btn:hover {
    color: black;
    border-color: black;
  }
}

@media (max-width: 1200px) {
  .coaches-list {
    .slick-list {
      margin-left: -50px;
    }
  }
}

@media (max-width: 1025px) {
  .info,
  .services {
    margin-bottom: 56px;
  }

  .info {
    flex-direction: column;
    height: auto;

    &__title {
      margin-top: 32px;
    }

    &__text-wrap {
      order: 2;
      max-width: 100%;
    }
    &__img-wrap {
      order: 1;
      height: 395px;
      width: 100vw;
      margin-left: -15px;
      background-size: cover;
    }
  }

  .cards-list__item-title {
    font-size: 20px;
  }

  .cards-list__item-text {
    font-size: 14px;
  }

  .coaches-list .slick-prev {
    bottom: -52px;
    left: calc(50% - 80px);
    transform: rotate(180deg);
  }
  .coaches-list .slick-next {
    left: calc(50% + 60px);
  }
}

@media (max-width: 768px) {
  //Common styles
  .info,
  .services,
  .coaches {
    margin-bottom: 60px;
  }
  .sect-info {
    font-size: 14px;
    width: 90%;
    margin-bottom: 25px;
  }
  //

  .info {
    &__title {
      font-size: 38px;
      line-height: 1;
      margin: 40px 0px 20px 0px;
    }

    &__subtitle {
      font-size: 20px;
      margin-bottom: 25px;
    }

    &__img-wrap {
      max-height: 300px;
    }

    &__text {
      margin-bottom: 25px;
      font-size: 14px;
    }
  }

  .cards-list {
    margin-left: -50px;

    //Slick slider styles
    .slick-list {
      margin-right: -15px;
    }

    .slick-slide {
      height: auto;
    }

    .slick-dots li {
      transform: translate(35px, -15px);
    }

    .slick-list .slick-track {
      display: flex;
      padding-bottom: 30px;
    }
    //

    &__item {
      max-height: 490px;
      height: 100%;
      cursor: grabbing;
    }

    &__item-img {
      max-height: 300px;
    }

    &__item-title {
      font-size: 18px;
    }

    &__item-text {
      font-size: 13px;
    }
  }

  .offer-list {
    &__item {
      width: calc(45% - 16px);
      margin-bottom: 40px;
    }
    &__item-title {
      font-size: 14px;
    }
  }

  .offer-ico {
    font-size: 50px;
    line-height: 1;
  }

  .coaches-list {
    height: 590px;

    //Slick-slider styles
    .slick-list {
      margin-left: 0;
    }
    .slick-dots li {
      transform: translate(10px, -15px);
    }
    .slick-slide {
      display: block;
      height: auto;
    }
    .slick-arrow {
      visibility: hidden;
    }
    //

    &__item {
      max-height: 570px;
      width: 95%;
      display: block;
    }

    &__img {
      max-height: 300px;
      height: 100%;
      width: 100%;
    }

    &__info-wrap {
      padding: 16px 0px 32px 16px;
    }

    &__btn {
      display: none;
    }

    &__btn--hidden {
      display: block;
    }

    &__number {
      font-size: 12px;
    }

    &__title {
      font-size: 18px;
      margin: 0;
    }

    &__profile {
      margin-bottom: 16px;
    }

    &__text {
      font-size: 13px;
    }
  }

  .coaches__counter {
    display: none;
  }
}

@media (max-width: 550px) {
  .cards-list {
    margin-left: 0;
    .slick-dots li {
      transform: translate(8px, -15px);
    }
  }

  .cards-list__item {
    width: 90%;
  }

  .coaches-list__item {
    width: 85%;
  }
}

@media (max-width: 420px) {
  .info,
  .services {
    margin-bottom: 56px;
    &__text {
      font-size: 14px;
      margin-bottom: 25px;
    }
  }

  //Common styles
  .sect-title {
    font-size: 24px;
    margin-bottom: 12px;
  }
  .sect-info {
    width: 95%;
  }
  //

  .info {
    &__title {
      font-size: 36px;
      line-height: 1;
      margin-bottom: 10px;
      width: 75%;
    }

    &__subtitle {
      font-size: 14px;
      margin-bottom: 18px;
      font-weight: 500;
    }
  }

  .cards-list {
    margin-left: -12px;
    &__item {
      max-width: 285px;
      width: 100%;
      margin: 0px 12px;
    }
    &__info-wrap {
      padding: 24px 0px 0px 14px;
    }
    &__item-title {
      margin-bottom: 16px;
    }
    &__item-text {
      margin: 0;
    }
  }

  .offer {
    margin-bottom: 0;
  }

  .offer-list {
    &__item-title {
      font-size: 14px;
    }
  }

  .coaches-list {
    &__item {
      width: 90%;
    }
    &__img {
      width: 100%;
    }
  }
}
